@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Primera Azure Logic Web</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container-envelope">
    
    <div class="col-xs-12">
      <img src="https://cdn.pixabay.com/photo/2020/04/07/13/12/bicycle-5013316_960_720.jpg">
    </div>
  </div>
